@import url(./__containter/popup__containter.css);
@import url(./__form/popup__form.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__text/popup__text.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__input/popup__input.css);

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.8);
    top: 0;
    left: 0;  
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s linear, opacity .4s ease-in-out;
    align-items: center;
    justify-content: center;
}

