
.popup-zoom__close-button {
    background-image: url(../../../images/close_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    right: -35px;
    top: -35px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border: 0;
    position: absolute;

    transition: opacity ease 0.5s;
}

.popup-zoom__close-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 540px) {
    .popup-zoom__close-button {
    right: -20px;
    top: -20px;
    height: 20px;
    width: 20px;
    }
  }  
