@import URL(./_name/popup__input_name.css);
@import URL(./_job/popup__input_job.css);

.popup__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px; 
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
