@import url(./__image/element__image.css);
@import url(./__item/element__item.css);
@import url(./__text/element__text.css);
@import url(./__like-button/element__like-button.css);
@import url(./__remove-button/element__remove-button.css);

.element {
    max-width: 282px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: ease-in-out .3s all;
    position: relative;
}

.element:hover {
    transform: scale(1.01);
    box-shadow:  0px 0px 10px 0px rgb(255, 255, 255, 0.1);
    transition: ease-in .3s all;
}


.element:hover .element__like-button {
    transform: scale(1.3);
    transition: ease-in .3s all;
}


@media screen and (max-width: 455px) {
    .element {
        margin: 0 auto;
    }
}